*{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}

.container{
    width:100%;
    height:100vh;
    background-color: rgb(87, 250, 127);
}
.form{
    width:21%;
    /* height:50px; */
    background-color: aliceblue;
    position:absolute;
    top:30%;
    left:40%;
    border:2px solid black;
    border-radius: 8px;

}
.form p{
    padding-left: 2%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.form input{
    margin-top: 10px;
    width:97%;
    height:50px;
    margin-left:5px;
    border-radius: 8px;

}

.form button{
    margin-top: 10px;
    width:97%;
    height:50px;
    margin-left:5px;
    border-radius: 8px;
    background-color: rgb(42, 186, 238);
    transition: background-color 0.3s;
    margin-bottom: 2%;

}
button:hover{
    cursor: pointer;
    
}
button:active{
    cursor: pointer;
    background-color: rgb(63, 93, 246);
    
}
img{
   margin-left:25%;
   margin-right:25%;
   margin-top: 10%;
   
   width:50%;
   width:50%

}